.container {
	background-color: antiquewhite;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.player1 {
	position: fixed;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	font-size: 30px;
}
.player2 {
	position: fixed;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	font-size: 30px;
}
.coinEntry {
	width: fit-content;
	background-color: rgb(183, 183, 255);
	display: flex;
	padding: 10px 10px;
	transform-origin: bottom left;
	transform: skew(-40deg);
}

.board {
	width: fit-content;
	height: fit-content;
	background-color: aquamarine;
	display: grid;
	padding: 10px 10px;
}

.board > div {
	display: flex;
}

.box {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid gray;
	background-color: antiquewhite;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.coinEntry > div {
	height: 36px;
}

.bottomPannels {
	display: flex;
}
.sidePannel {
	width: 37px;
	background-color: #56a58c;
	display: grid;
	padding: 10px 10px;
	transform-origin: bottom top;
	transform-origin: top left;
	transform: skew(0, -50deg);
}

.sidePannel > div {
	border: none;
	background-color: transparent;
}

.coin {
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.active {
	color: green;
	animation: bounce 1s infinite;
	margin-top: -5%;
}

@keyframes bounce {
	0% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}

.modal {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	position: fixed;
	z-index: 10;
}
.modal {
	width: 300px;
	height: 300px;
	padding: 20px;
	background-image: url('https://img.freepik.com/free-vector/white-background-with-blue-confetti-celebration-carnival-ribbons_29865-936.jpg?w=2000');
	box-shadow: 5px 5px 10px, -5px -5px 10px gray;
	background-size: cover;
}
